{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}{{pagina}}{% endblock title %}
{% block content %}
{% include 'navbar.html' %}
    <div class='container'>
        <h1 class="text-center my-3">{{pagina}}</h1>
        
        <table class="table table-striped">
            <thead>
                <th>Nome</th>
                <th>CPF</th>
                <th>Cidade</th>
                <th>Telefone</th>                
            <thead>
            <tbody>
                {% for h in hospedes %}
                <td>{{h.nome}}</td>
                <td>{{h.cpf}}</td>
                <td>{{h.cidade}}</td>
                <td>{{h.telefone}}</td>
                {% endfor %}
            </tbody>        
        </table>

</div>


{% endblock content %}