{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}{{pagina}}{% endblock title %}
{% block content %}
{% include 'navbar.html' with active=pagina %}
    <div class='container'>
        <h1 class="text-center my-3">{{pagina}}</h1>
        
        <table class="table table-striped">
            <thead>
                <th>Plataforma</th>
                <th>Mensalidade</th>                
            <thead>
            <tbody>
                {% for p in plataformas %}
                <td>{{p.nome}}</td>
                <td>{{p.mensalidade}}</td>                
                {% endfor %}
            </tbody>        
        </table>

</div>


{% endblock content %}